<tr class="footer">
  <td class="text-center" >
    <hr />
    <p >
      © 2025 Ally360. Todos los derechos reservados.
    </p>
    <div >
      <a href="#" style="margin: 0 6px;"><img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook" width="20" /></a>
      <a href="#" style="margin: 0 6px;"><img src="https://upload.wikimedia.org/wikipedia/commons/9/96/Instagram.svg" alt="Instagram" width="20" /></a>
      <a href="#" style="margin: 0 6px;"><img src="https://upload.wikimedia.org/wikipedia/commons/8/81/LinkedIn_icon.svg" alt="LinkedIn" width="20" /></a>
    </div>
    <a href="#" >Política de privacidad</a> ·
    <a href="#" >Cancelar suscripción</a>
    <div class="padding-bottom">
    </div>
  </td>
</tr>