<tr class="background-primary">
  <td class="column-logo" style="padding: 20px 30px;">
    <h1 class="title-primary">{{title}}</h1>
    <img src="https://develop--ally360.netlify.app/logo/logo-fondo-oscuro.svg" alt="Ally360 Logo" width="150" style="display: block;" />
  </td>
</tr>